<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reciclatge</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
</head>

<body>
  <v-app id="app">
    <main class="fill-height" id="particles-js"></main>
    <!--LOGIN-->
    <v-container fill-height v-show="!login && !prod && !logout && !edit">
      <v-row justify="center" align-items="center">
        <v-col cols="10" sm="auto">
          <v-card width="448" height="500" elevation="8" outlined>
            <v-card-text>
              <img src="../../Documentació/logo_pr1er.png"
                style="width: 160px; height: 160px; border: 2px solid black; border-radius: 50%; display: block; margin: auto;"></img>
              <v-text-field clearable ref="inputRef2" id="user" style="margin-top: 35px;" outlined label="User"
                append-icon="mdi-account">
              </v-text-field>
              <v-text-field clearable ref="inputRef" id="pass" outlined :type="showPassword ? 'text' : 'password'"
                label="Password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword">
              </v-text-field>
              <v-card-text class="mt-n3">{{err}}</v-card-text>
              <v-btn @click="getAdmins(), getUsers()" class="" color="primary">Sign In</v-btn>
            </v-card-text>
        </v-col>
      </v-row>
    </v-container>
    <!--Boton al Home-->


    <!--Peticiones-->
    <div class="text-right pr-6"
      v-show="(!login && prod && logout) || (login && !prod && logout) || (!login && !prod && !logout && edit)">
      <v-menu min-width="300px" rounded offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon color="white" @click="seePeticiones" x-large v-on="on">
            <v-icon>mdi-message-text</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center ">
              <h3>Peticiones</h3>
              <v-divider class="my-3"></v-divider>
              <p v-for="n in arrPet" :key="n">
                {{n.user}} <br>
                {{n.peticion}}
                <br>
                <br>
                <v-chip @click="decidirPeticion(n.user, 1, n.id_usu)" color="red">Cancelar</v-chip>
                <v-chip @click="decidirPeticion(n.user, 0, n.id_usu)" color="success">Aceptar</v-chip>
                <v-divider class="my-3"></v-divider>
              </p>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>

      <!--LOGOUT/EDIT-->

      <v-menu min-width="200px" rounded offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon x-large v-on="on">
            <v-avatar color="brown" size="48">
              <v-img :src=img_usu></v-img>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center">
              <v-avatar>
                <v-img :src=img_usu></v-img>
              </v-avatar>
              <h3>{{usuinfo.nom}} {{usuinfo.cognoms}}</h3>
              <p class="text-caption mt-1">
                {{usuinfo.id}}
              </p>
              <v-divider class="my-3"></v-divider>
              <v-btn depressed rounded text @click="login=0, logout=0, prod=0, edit=1, seeEdit(usuinfo.id)">
                Edit Account
              </v-btn>
              <v-divider class="my-3"></v-divider>
              <v-btn depressed rounded text @click="login = 0, logout=0, prod=0">
                Disconnect
              </v-btn>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </div>
    <!--TAULA USERS-->
    <v-container fill-height v-show="login && !prod && !edit ">
      <v-row justify="center" align="center">
        <v-col cols="14">
          <template>
            <v-card class="elevation-10" style="border: 1px solid black;">
              <v-card-title center>USERS</v-card-title>
              <v-card-title>
                <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
                </v-text-field>
              </v-card-title>
              <v-data-table :headers="headers" :items="users" :search="search">

                <template v-slot:item="row">
                  <tr>
                    <td>{{row.item.nom}}</td>
                    <td>{{row.item.cognoms}}</td>
                    <td>{{row.item.data_naixament}}</td>
                    <td>{{row.item.email}}</td>
                    <td>{{row.item.users}}</td>
                    <td>{{row.item.pass}}</td>
                    <td>{{row.item.rol}}</td>
                    <td>{{row.item.ban}}</td>
                    <td>
                      <v-dialog v-model="dialog" max-width="600px" :retain-focus="false">
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn color="primary" dark v-bind="attrs" v-on="on" @click="seeUsers(row.item.email)">
                            <v-icon>mdi-account</v-icon>
                          </v-btn>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="text-h5">Info de: {{seeUs.nom}}</span>
                          </v-card-title>
                          <v-card-text>
                            <v-img :src=img style="width: 120px; height: 120px; border-radius: 50%;"></v-img>
                            <v-container>

                              <v-row>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field label="Nom" outlined v-model="seeUs.nom" readonly></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field label="Cognoms" outlined v-model="seeUs.cognoms" readonly>
                                  </v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                  <v-text-field label="Edad" outlined v-model="seeUs.data_naixament" readonly>
                                  </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field label="Email" outlined v-model="seeUs.email" readonly></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6">
                                  <v-text-field label="User" outlined v-model="seeUs.user" readonly></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6">
                                  <v-text-field label="Password" outlined v-model="seeUs.pass" readonly></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6">
                                  <iframe width="450" height="250" frameborder="0" style="border:0"
                                    referrerpolicy="no-referrer-when-downgrade" :src=s2rc allowfullscreen>
                                  </iframe>
                                </v-col>
                                <v-col cols="12" sm="0">
                                  <v-text-field label="rol" outlined v-model="seeUs.rol" readonly></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field label="descripcio" outlined v-model="seeUs.descripcio" readonly>
                                  </v-text-field>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="mt-n9" color="blue darken-1" text @click="dialog = false">
                              Close
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </td>
                    <!--  <td>
                      <v-btn color="primary" @click="ferAdmin(row.item.email, row.item.rol)">Admin/User</v-btn>
                    </td> -->



                    <td>
                      <v-dialog v-model="dialog2" width="500" :retain-focus="false">
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn color="primary" @click="seeUsers(row.item.email)" dark v-bind="attrs" v-on="on">
                            Banear
                          </v-btn>
                        </template>

                        <v-card>
                          <v-card-title class="text-h5 grey lighten-2">
                            Baneado
                          </v-card-title>
                          <v-card-text v-if="seeUs.rol == 'admin'">
                            Este usuario tiene rol de administrador, así que no puedes banearlo.
                          </v-card-text>
                          <v-card-text v-else>
                            Estas a punto de banear a un usuario o artista,
                            Seguro que quieres banear al usuario?? <b>{{seeUs.user}}</b>
                            Si tu decision es sí, acepta y el usuario seleccionado será baneado.
                            En caso de que no quieras banearlo cancela y se quedará como está.
                          </v-card-text>

                          <v-divider></v-divider>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="dialog2 = false">
                              Cancelar
                            </v-btn>
                            <v-btn id="ban" @click="banear(seeUs.email, seeUs.ban, seeUs.rol, dialog2 = false)"
                              color="primary">
                              Banear
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card>
          </template>
          <v-col class="text-right">
            <v-btn @click="getProducts(), seeProduct()" class="text-right" color="primary">Products&nbsp;<v-icon>
                mdi-arrow-expand-right
              </v-icon>
            </v-btn>
          </v-col>
        </v-col>
    </v-container>



    <!--Productes-->
    <v-container fill-height v-show="!login && prod">
      <v-col class="text-right">
        <v-btn @click ="login = 0, logout = 0, edit = 0, prod = 0" color="red">pr&nbsp;<v-icon>
            mdi-arrow-expand-right
          </v-icon>
        </v-btn>
      </v-col>
      <template>

        <v-row justify="space-around">

          <v-col v-for="n in products" :key="n" class="d-flex child-flex" cols="3">
            <v-hover v-model="hoverInit">
              <template v-slot:default="{ hover }">

                <v-card>
                  <v-img :src="`../../Backend/Server/${n.path}`" aspect-ratio="1" class="grey lighten-2">
                  </v-img>
                  <v-fade-transition>
                    <v-overlay v-if="hover" absolute color="#81C4FC">
                      <v-btn @click="seeProduct(n.id_producte)" color="primary">See
                        Info</v-btn>
                    </v-overlay>
                  </v-fade-transition>
                </v-card>
              </template>
            </v-hover>
            <v-bottom-sheet scrollable v-model="sheet" :retain-focus="false">
              <v-sheet class="text-center" height="auto">
                <v-btn class="mt-6" text color="primary" @click="sheet = !sheet">
                  close
                </v-btn>

                <div style="padding: 40px;">
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="ID" outlined :value="seePr.id_producte" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="nom" outlined  :value="seePr.nom" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="preu" outlined  :value="seePr.preu" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field label="categoria" outlined  :value="seePr.categoria" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field label="estado_prod" outlined  :value="seePr.estado_prod" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field label="descripcio" outlined  :value="seePr.descripcion" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field label="id Usu" outlined  :value="seePr.id_usu" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-text-field label="id image" outlined  :value="seePr.id_image" readonly></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field label="Path Imatge" outlined  :value="seePr.path" readonly></v-text-field>
                    </v-col>
                  </v-row>
                </div>
              </v-sheet>
            </v-bottom-sheet>

          </v-col>
        </v-row>
      </template>
      </v-bottom-sheet>
    </v-container>

    <!--Edit account-->
    <v-container fill-height v-show="!login && !prod && !logout && edit">
      <v-row justify="center" align-items="center">
        <v-col cols="10" sm="auto">
          <v-card width="auto" height="auto" elevation="8" outlined>
            <v-card-text>
              <v-card-title>Edit account: {{arrEdit.user}}</v-card-title>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Nom" outlined v-model="arrEdit.nom"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Cognoms" outlined v-model="arrEdit.cognoms">
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field label="Edad" outlined v-model="arrEdit.data_naixament">
                    </v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field label="Email" outlined v-model="arrEdit.email"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field label="User" outlined v-model="arrEdit.user"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field label="Password" outlined v-model="arrEdit.pass"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field label="ubicacio" outlined v-model="arrEdit.ubicacio">
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6">
                    <v-text-field label="rol" outlined v-model="arrEdit.rol" readonly></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field label="descripcio" outlined v-model="arrEdit.descripcio">
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-col class="text-left">
                  <v-btn id="confetti"
                    @click="editUser(arrEdit.email, arrEdit.nom, arrEdit.cognoms, arrEdit.data_naixament, arrEdit.ubicacio, arrEdit.user, arrEdit.pass, arrEdit.descripcio,  arrEdit.rol,  arrEdit.id, arrEdit.id_image, arrEdit.ban), prod = 0, login = 1, logout = 1, edit = 0"
                    color="primary">Save Data</v-btn>
                </v-col>
              </v-container>
            </v-card-text>
        </v-col>
      </v-row>
    </v-container>

  </v-app>
  <script src="index.js"></script>
  <script src="particles.js"></script>
  <script src="app.js"></script>
  <script src="confetti.js" type="module"></script>

  </div>
  <script>app.getUsers()</script>
</body>

</html>