<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
</head>
<body>
 <!--  <div id="app">
  <v-app id="inspire">
    <v-row>
      <v-col
        v-for="n in 12"
        :key="n"
        class="d-flex child-flex"
        cols="4"
      >
        <v-img
          :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
          :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
          aspect-ratio="1"
          class="grey lighten-2"
          @click="onClickImage"
        >
          <template v-slot:placeholder>
            <v-row
              class="fill-height ma-0"
              align="center"
              justify="center"
            >
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-col>
    </v-row>
  </v-app>
</div> -->

<v-app id="app" style=" padding: 20px;">
  <template >
    <v-row justify="space-around">
      <v-col
        v-for="n in 21"
        :key="n"
        class="d-flex child-flex"
        cols="3"
      >
      <v-hover v-model="hoverInit">
        <template v-slot:default="{ hover }">
          <v-card>
        <v-img
          :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
          :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
          aspect-ratio="1.8"
          class="grey lighten-2"
        >
    
          </v-img>
          
                <v-fade-transition>
          <v-overlay
          v-if="hover"
          absolute
          color="#036358"
          >
          <v-btn>See more info</v-btn>
          </v-overlay>
          </v-fade-transition>
          </v-card>
            </template>
          </v-hover>
       
      </v-col>
    </v-row>
  </template>
</v-app>
    <script src="index.js"></script>
    <script>app.getProducts()</script>
    <!-- <style>
      #app {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 600px;
        max-width: 100%;
        margin: 50px auto;
        position: relative;
      }
      .image {
        width: 400px;
        max-width: 100%;
      }
      </style> -->
</body>
</html>